<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Alex Moreno</title>
</head>
<body class="page">

    <div class="navbar">
        <div class="nav-content">
            <h1>Alex Moreno</h1>
            <div>
                <a href="/" class="navlink">home</a>
                <a href="/about" class="navlink">about me</a>
                <a href="/projects" class="navlink">projects</a>
                <a href="/blog" class="navlink">blog</a>
                <a href="/contact" class="navlink">contact</a>
            </div>
        </div>
    </div>

    <div class="single-col">
        <h2>~/'about me'$</h2>
        <div class="card">Card here</div>
    </div>

</body>
</html>