<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Morax</title>
</head>
<body>
    <div class="container">


        <div class="navbar">
            <h1 class="mb-4">Morax</h1>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">Projects</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
        </div>


        <h1>Landing page speech</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus labore maiores veniam explicabo! Distinctio, architecto recusandae. Eaque dignissimos delectus veritatis. Maxime nostrum sint distinctio fugiat laboriosam eius! Quod, fuga?
        </p>

        
    </div>
</body>
</html>