<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Morax</title>
</head>
<body class="page">
    <div class="navbar">
        <div class="nav-content">
            <h1>Alex Moreno</h1>
            <div>
                <a href="/" class="navlink">Home</a>
                <a href="/about" class="navlink">About Me</a>
                <a href="/projects" class="navlink">Projects</a>
                <a href="/blog" class="navlink">Blog</a>
                <a href="/contact" class="navlink">Contact</a>
            </div>
        </div>
    </div>

    <div class="single-col">
        <h2>~/blog$</h2>

    <% articles.forEach(article => { %>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><%= article.title %></h4>
                <div class="card-subtitle text-muted mb-2">
                    <%= article.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2"><%= article.description %></div>
                <a href="blog/<%= article.slug %>" class="btn btn-primary">Read More</a>
            </div>
        </div>
    <% }) %>
    </div>
</body>
</html>